@model List<BIP_SMEMC.Models.RewardHistoryItem>

<h2>Points History</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Date</th>
            <th>Activity</th>
            <th>Points</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Date.ToShortDateString()</td>
            <td>@item.Activity</td>
            <td>@item.Points</td>
        </tr>
    }
    </tbody>
</table>

